.navigation {
  width: 100%;
  height: 70px;
  position: relative;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: quicksand, sans-serif;
  -webkit-box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.1);
  box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.1);
  font-family: "Jost", sans-serif;
}
.navigation .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  user-select: none;

}
.user,
.wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  user-select: none;
}
.user img {
  box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.1);
}
.user {
  height: fit-content;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
}
.user i {
  margin-left: 12px;
}
.user .subItems {
  position: absolute;
  top: 60px;
  background-color: white;
  padding: 12px;
  box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.1);
  width: 100%;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: visibility 0s, opacity 0.3s ease, transform 0.3s ease;
}
.user .subItems.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.user .subItems li {
  list-style: none;
  padding: 6px 0;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
}
.user .subItems li:hover {
  background-color: var(--primary-color);
  color: white;
}

/* Search  */

.headerSearch {
  float: left;
  line-height: 4.4;
  padding: 0 20px;
  cursor: pointer;
  position: relative;
}
.headerSearch .open {
  color: #000;
  line-height: 1;
}
.mainSearch {
  padding: 19px 0;
  display: block;
}
.inputGroup {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 20px;
}
.formControl {
  visibility: hidden;
  opacity: 0;
  width: 0;
  border: none;
  font-size: 16px;
  padding: 6px 12px;
  font-family: "Jost", sans-serif;
  transition: visibility 0s, opacity 0.3s ease, width 0.3s ease;
}
.formControl:focus {
  outline: none;
  border-bottom: 1px solid #000;
}
.inputGroup.open .formControl {
  visibility: visible;
  opacity: 1;
  width: 200px;
  color: #000;
}

.sidebarMobile {
  background-color: var(--primary-color);
  color: white;
  font-family: "Jost", sans-serif;
}
.sidebarMobile .sidebar .logoDetails {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 12px;
  justify-content: flex-start;
}

.sidebarMobile .sidebar .logoDetails .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.sidebarMobile .sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebarMobile .tooltip {
  display: none;
}
.sidebarMobile li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  /* background: #11101d; */
}
.sidebarMobile .sidebar li a:hover {
  background: #fff;
}
.sidebarMobile .sidebar li a .linksName {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  pointer-events: none;
  transition: 0.4s;
}
.sidebarMobile .sidebar li a:hover .linksName,
.sidebarMobile .sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #0891b2;
}
.toggleBtn {
  display: none;
}

@media screen and (max-width: 1000px) {
  .toggleBtn {
    display: block;
  }
  .navigation{
    justify-content: space-between;
    margin: 0;
    padding: 0 12px;
  }
  .headerSearch,.userEmail {
    display: none;
  }
}
