.statsCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: "Jost", sans-serif;
}

.statsCards .statsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.statsCards .statsCard i {
  font-size: 28px;
  padding: 12px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 6px;
}

.statsCards .statsCard h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  margin: 6px 0;
}
.statsCards .statsCard .value{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin: 6px 0;
}